@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,200&family=Edu+NSW+ACT+Foundation&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Edu NSW ACT Foundation", cursive;
}

.footer {
  font-size: 150px;
}

header .logo {
  font-weight: 600;
  font-size: 30px;
  font-weight: 200;
  font-family: "Bitter", serif;
  font-family: "Edu NSW ACT Foundation", cursive;
  color: #95500c;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: color 500ms ease;
}

header ul.nav li:hover {
  color: gold;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header .presentation {
  margin: 50px auto;
  background: url("/src/img/konspekt-1600x600.jpg") no-repeat;
  background-size: cover;
  height: 400px;

  background-position: center center;
  position: relative;
}

header .presentation::after {
  content: "Лучшие сборники книг со всего мира";

  width: 200px;
  position: absolute;
  top: 30px;

  left: 20px;

  font-size: 40px;
  color: rgb(216, 162, 101);
  font-family: cursive;
}

footer {
  text-align: center;
  margin-top: 100px;
}
