@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,200&family=Edu+NSW+ACT+Foundation&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Edu NSW ACT Foundation", cursive;
}
.wrapper {
  width: 1280px;
  margin: 0 auto;
  background-color: #dcdcdc;
}
.footer {
  font-size: 150px;
}

header {
  position: relative;
}

header .logo {
  font-weight: 1000;
  font-size: 50px;
  font-family: "Bitter", serif;

  color: #464451;

  padding-top: 15px;
  padding-left: 30px;
}
header .headerFlex {
  display: flex;
  justify-content: space-between;
}
header ul.nav {
  float: right;
  list-style: none;
  padding: 30px;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: color 500ms ease;
  font-size: 20px;
}

header ul.nav li:hover {
  color: gold;
}

header .presentation {
  margin: 50px auto;
  background: url("/src/img/nev-book.jpg") no-repeat;
  background-size: cover;
  height: 300px;

  background-position: center center;
  position: relative;
}

header .presentation::after {
  content: "Лучшие сборники книг со всего мира";

  width: 200px;
  position: absolute;
  top: 30px;

  left: 20px;

  font-size: 40px;
  color: rgb(216, 162, 101);
  font-family: cursive;
}

header .shop-cart-button {
  float: right;
  cursor: pointer;
  transition: color 500ms ease;
  margin-top: 30px;
  margin-left: 350px;
  font-size: 30px;
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
  color: green;
}

header .shop-cart {
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  min-height: 100px;
  background-color: #95500c;
  z-index: 1000;
}

header .shop-cart .itemOrder {
  width: 100%;
  margin-bottom: 10px;
  float: left;
}
header .shop-cart .itemOrder img {
  width: 70px;
  float: left;
  margin-right: 20px;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  width: 19%;
  margin-bottom: 50px;
  background: #e2c5a7;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  padding-bottom: 20px;

}

main .item img {
  width: 100%;

  transition: transform 500ms ease;
}

main .item img:hover {
  transform: scale(1.1);
}

main .item h2,
main .item p,
main .item b {
  margin: 10px 20px;
  color: goldenrod;
  font-family: "Times New Roman", Times, serif;
}
main .item b {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  color: green;
}
.up-bottom {
  position: absolute;
  height: 30px;
  width: 40px;
  color: red;
  right: 20px;
  bottom: 20px;
  font-weight: 500;
  background-color: blue;
  text-align: center;
  font-size: 30px;
  line-height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 500ms ease;
}

.up-bottom:hover {
  transform: scale(1.5) translateY(-10px);
}

footer {
  text-align: center;
  margin-top: 100px;
}
